.container {
    max-width: 500px;
    margin: 0 auto;
    text-align: center;
    
  }
  
  h1 {
    color: #333;
  }
  
  input[type="text"] {
    width: 300px;
    padding: 10px;
    font-size: 16px;
    border-radius: 15px;
  }
  
  button {
    padding: 10px 20px;
    font-size: 16px;
    background-color: #333;
    color: #fff;
    border: none;
    border-radius: 15px;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }

  button:hover {
    background-color: #555;
}
  
  #results {
    margin-top: 20px;
    text-align: left;
  }
  
  .movie {
    align-items: center;
    min-height: 150px;
    margin-bottom: 10px;
    padding: 10px;
    background-color: #f5f5f5;
    border-radius: 10px;
    clear: both;
  }
  
  .movie img {
    width: 100px;
    height: 150px;
    float: left;
    margin-right: 10px;
    border-radius: 10px;
  }
  
  .movie h2 {
    font-size: 18px;
    margin-top: 0;
    text-align: justify;
  }
  
  .movie p {
    margin: 5px 0;
    text-align: justify;
  }
  
  .movie:first-child {
    margin-top: 20px; 
}